<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hntechs.attendanceassistant">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CollegeDetails"></activity>
        <activity android:name=".ProfileActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/MainActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".UpdateAttendance"
            android:label="@string/update_attendance"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BatchUpdate"
            android:label="@string/batchupdate"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AttendanceCatalog"
            android:label="Attendance Catalog"
            android:parentActivityName=".MainActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:theme="@style/MainActivityTheme" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AttendanceAssister"
            android:label="Attendance Assistant"
            android:parentActivityName=".MainActivity" />

        <receiver android:name=".Notifications.AlarmHelper">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>
        <receiver android:name=".Notifications.NotificationReceiver" />
    </application>

</manifest>